body {
  font-family: sans-serif;
  background-color: #E6EBE0
}
img {
  width: 300px;
  height: 300px;
  margin: 30px;
  border: 3px solid black;
}
h1 {
  text-align: center;
}
.instructions {
  width: 950px;
  margin-left: 30px;
}
.button {
  text-align: center;
}
button {
  font-size: 12px;
  color: #000;
  padding: 10px;
  border-radius: 3px;
}
button:hover {
  background-color: #ED6A5A;
}
