body {
  font-family: sans-serif;
  background-color: #E6EBE0;
}
img {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 30px;
  border: 3px solid black;
}
h1 {
  margin-left: 230px;
}
.instructions {
  width: 950px;
  margin-left: 30px;
  text-align: center;
}
.button {
  text-align: center;
}
button {
  font-size: 12px;
  color: #000;
  padding: 5px;
  border-radius: 3px;
}
button:hover {
  background-color: #ED6A5A;
}
#image_container {
  margin-left: 150px;
}
#result_list {
  margin-top: 20px;
}
#result_chart {
  margin-top: 20px;
}
